# Build
bin/
obj/

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Temp
*.tmp
*.temp

# NuGet
*.nupkg

# Publish
publish/

# Test
TestResults/

# OS
.DS_Store
Thumbs.db

# Secrets
.appsettings.Development.json
.env
**/.env
!.env.example
!**/.env.example
appsettings.Development.json