{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\MSSQLLocalDB;Database=NafsApp;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "JwtSettings": {
    "Secret": "SuperSecretNafsJWTKeyThatIsVeryLongAndSecure1234567890!",
    "Issuer": "NafsApp",
    "Audience": "NafsAppUsers",
    "ExpiryMinutes": 60,
    "RefreshTokenExpiryDays": 7
  },
  "RecreateDatabaseOnStartup": false
}
